body {
  background-color: azure;
}

p {
  text-align: center;
}

#first-area {
  height: 140px;
}

.title-game {
  font-size: 60px;
  color: blue;
  margin-bottom: 10px;
  margin-top: 10px;
}

#timer-title {
  font-size: 50px;
}

#timer {
  font-size: 50px;
}

#start-button {
  height: 60px;
  width: 200px;
  font-size: 30px;
  cursor: pointer;
  background-color: aquamarine;
}

button {
  height: 60px;
  width: 70px;
  margin: 40px;
  font-size: xx-large;
  cursor: pointer;
  background-color: gainsboro;
}

button:hover {
  box-shadow: inset;
  transform: translateY(4px);
}

div {
  display: flex;
  justify-content: center;
}

#comment-area {
  display: inline;
}

.explanation-area {
  display: inline;
  min-height: 600px;
  width: 550px;
  background-color: lightgoldenrodyellow;
  border-radius: 20px;
  border: 20px;
  margin: 15px;
  font-size: 30px;
}

ol {
  padding-left: 70px;
}

li {
  margin-top: 20px;
}

#app-area {
  display: inline;
  min-height: 800px;
  width: 1200px;
  background-color: aquamarine;
  border-radius: 20px;
  border-color: black;
  margin: 15px;
  padding-top: 20px;
  font-size: 30px;
}

.result-comment {
  font-size: 30px;
}

#app-button {
  height: 60px;
  width: 400px;
  margin: 40px;
  font-size: xx-large;
  border-radius: 10px;
  cursor: pointer;
  background-color: yellow;
}

.sub-title {
  font-size: 35px;
}

#anzen {
  color: red;
  font-size: 38px;
  font-weight: bold;
}

.bold-title {
  font-weight: bold;
  text-decoration: underline;
}
